html,body{
    height: 100%;
    width: 100%;
}
body
{
    background-color: white;
}
.left img
{
    width: 40px;
    height: 40px;
}
.container
{
    max-width: 80vw;
    margin: auto;
}
nav ul li{
    list-style: none;
    padding: 0 15px;
}
header{
    position: sticky; top: 0px; background-color: white;
}
.dot1
{
text-align: center;
}